<%- include('includes/head.ejs') %>

<style>
   .container{
            margin-top: 15px;
            border: lightgray solid 2px;
            box-shadow: 2px 2px 5px lightgray;
            height: 80px;
            width: 750px;
            margin-left: 350px;
            font-family: sans-serif;
        }
        .container2{
            margin-top: 8px;
            margin-left: 12px;
            border: 2px solid green;
            height: 60px;
            width: 720px ;
            
        }
        h3{
            margin-top: 22px;
            display: inline-block;
            margin-left: 40px;
        }
        #qty{
            margin-left: 430px;
        }
        .btn{
            width: 200px;
            height: 50px;
            margin-left: 670px;
            border: 2px solid green;
            border-radius: 5px;
            font-size: large;
            font-weight: bold;
            font-family: sans-serif;
        }
        .btn:hover{
            background-color: green;
            color: white;
        }
</style>

</head>
<body>
   <%- include('includes/navigation.ejs') %>

   <main>
        
    <% for (let product of prods) { %>

       <div class="container">
           <div class="container2">
            <h3><%= product.productId.title %></h3>
            <h3 id="qty">Quantity:<%=product.quantity%></h3>
           </div>
      </div>  

    <% } %> <br>
    <div>
        <h3>Total : <%= totalSum %></h3><br><hr>
        <button class="btn" id="orderBtn">Order</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var stripe = Stripe('YOUR_STRIPE_KEY');
            var orderBtn = document.getElementById('orderBtn');
            orderBtn.addEventListener('click', function(){
                stripe.redirectToCheckout({
                    sessionId : '<%= sessionId %>'
                });
            });
        </script>
    </div> 
    </main>

  
</body>
</html>